transcribed_notes/
transcription_registry.json
__pycache__/
venv/
notebook_renames.json
.env
copied_notebooks/
.DS_Store
.gitignore.swp
original_notebooks/
converted_notebooks/
__pycache__/ 
notebook_renames.json
